h1{
color: blue;
}
h1.verde{
color: green;
}
.verde{
	color:#008000;	
}
table{
	border: 2px;
	border-color: #0000FF;
	border-style: dashed;
}
#footer{
	background-color: #008000;
}
#menu{
	width: 200px;
}
#menu ol li{
	background-color: #AAAAFF;
}
#menu ol li ol li{
	background-color: #0000FF;
}
#menu ol li ol li a{
	color:#FF0000;
}
#menu ol li ol li a:visited{
	color:#FFAAAA;
}
