<div id="menu">
	<h2>Menú principal</h2>
    	<ol>
	    	<li><a id="enlaceindex" href="index.php">Inicio</a></li>
	    	<li><a id="enlaceclientes" href="index.php?module=clientes&action=listado">Clientes</a></li>
    	</ol>
</div>
<script>
$(document).ready(function(){
	$("#enlaceindex").click(function(evento){
		evento.preventDefault();
		$("#contenido").load("index.php?module=main&output=htmlp", function(data){
			
		});
	});
	$("#enlaceclientes").click(function(evento){
		evento.preventDefault();
		$("#contenido").load("index.php?module=clientes&action=listado&output=htmlp", function(data){
			
		});
	});
});
</script>